body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.content__wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 30px;
  background-color: #283241;
  font-size: 0.8rem;
  color: white;
}

.social-networks-icons:hover {
  cursor: pointer;
}

.middle-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.logo {
  width: 150px;
}

.search-input {
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #DF3550;
  border: none;
}

.search-btn:hover {
  cursor: pointer;
}

.search-icon {
  width: 25px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 35px;
}

.icons-btn {
  border: none;
  background-color: white;
}

.icons-btn:hover {
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 220px;
  color: white;
  background-color: #DF3550;
}

.menu-icon {
  width: 30px;
  margin-right: 5px;
}

.menu-icon:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #DF3550;
  text-decoration: underline;
  cursor: pointer;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.cart-wrapper > div {
  width: 65px;
}

.cart-icon {
  margin: 0 10px;
}

.cart-icon:hover {
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 2rem 0 2rem;
  background-color: #F6F6F6;
}

.footer-col-1 {
  flex: 1;
  margin-right: 10px;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
}

.payment-systems {
  min-width: 300px;
  max-width: 450px;
}

.footer-list {
  list-style: none;
}

.footer-text {
  font-size: 0.9rem;
  text-align: justify;
  color: grey;
  line-height: 1.5rem;
}

.footer-list-title {
  margin-top: 0;
}

.footer-list-item {
  margin: 10px 0;
  font-size: 0.9rem;
  color: grey;
}

.footer-list-item:hover {
  color: #DF3550;
}

.small-text {
  font-size: 0.8rem;
}

.mobile-menu-icon, .mobile-cart-icon {
  display: none;
}

/* Accessories styles */
.accessories-list-container {
  padding: 60px 0;
}

.accessories-title-wrapper {
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
  padding-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.accessories-title {
  color: #979797;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.accessories-subtitle {
  color: #2c2a2b;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.accessories-container {
  display: grid;
  grid-template: 1fr/ repeat(3, 1fr);
  column-gap: 2%;
}

.accessories-container>div:nth-of-type(n+4) {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.accessory-wrapper {
  display: flex;
  padding: 10px 10px 20px 0;
}

.accessory-image-container {
  width: 43%;
}

.accessory-image-container img{
  width: 100%;
}

.accessory-info {
  width: 57%;
  padding-left: 20px;
  align-self: center;
  font-family: Poppins;
}

.accessory-info h2 {
  margin: 0;
  line-height: 1;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.accessory-info a {
  font-size: 14px;
  color: #222;
  font-weight: 600;
  text-decoration: none;
}

.accessory-info a:hover {
  color: #DF3550;
  cursor: pointer;
}

.accessory-price {
  margin: 0;
  color: #444;
  font-size: 14px;
  font-weight: 600;
}

.accessory-price strike {
  opacity: .5;
}

/* Advert styles */ 
.advert {
  height: 400px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: poppins;
  line-height: 1.5;
}

.advert-content {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
  font-family: poppins;
  line-height: 1.5;
  text-align: center;
  z-index: 10;
}

.advert-text {
  font-size: 20px;
}

.advert-heading {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.advert-price {
  font-size: 25px;
  font-weight: 600;
}

/* Menu styles  */

#menu {
  padding: 45px 0;
  margin: 15px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.menu {
  font-family: poppins;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
}

.menu__item {
  position: relative;
  flex-basis: 31%;
  padding: 0 15px 0 0px;
  overflow: hidden;
}

.menu__item__content {
  position: absolute;
  left:0;
  right:0;
  text-align: center;
  top: 25%;
  line-height: 2;
  z-index: 1;
  padding: 0 30px;
}

.menu__item__title {
  display: block;
  margin: 0;
  font-size: 42px;
  color: #23232C;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.15;
  margin-bottom: 35px;
}

.menu__item__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #23232c;
  margin: 0;
}

.menu__item__button {
  display: block;
  margin-top: 10px;
}

.menu__item__link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 1.65;
  font-weight: 500;
  color: #23232c;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__item__link::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
  z-index: 1;
}

.menu__item__wrapper {
  position: relative;
  overflow: hidden;
}

.menu__item__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu__item__url {
  display: block;
  height: 420px;
}

/* blog styles */

#blog {
  padding: 60px 0;
}

.blog {
  font-family: poppins;
}

.blog__title__wrapper {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.blog__title {
  color: #979797;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0;
  font-size: 16px;
  margin-bottom: 5px;
}

.blog__subtitle {
  text-transform: uppercase;
  font-size: 24px;
  color: #2c2a2b;
  font-weight: 600;
  margin: 0;
}

.blog__item {
  position: static;
  flex-basis: 33.33%;
  margin-bottom: 20px;
}


.blog__image {
  height: 100%;
  max-width: 100%;
  width: 100%;
  vertical-align: top;
  border-style: none;
}

.blog__content {
  display: block;
  padding: 5px 10px 5px 25px;
  border-left: 1px solid #eee;
}

.blog__date {
  width: 10%;
  display: inline-block;
  padding-top: 10px;
  text-align: center;
}

.blog__day {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}

.blog__day__posted {
  font-size: 36px;
  display: inline-block;
  padding: 5px 15px 5px 0;
  border-right: 1px solid #DF3550;
  font-weight: 500;
  margin-right: 15px;
  color: #DF3550;
  line-height: 1;
}

.blog__ym {
  color: #DF3550;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}

.blog__month__posted {
  margin-bottom: 2px;
  text-transform: capitalize;
  display: block;
  line-height: 1;
}

.blog__content__title {
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.blog__content__link {
  color: #222;
  text-decoration: none;
}

.blog__description {
  font-size: 12px;
  color: #535353;
  line-height: 20px;
}

.blog__read-more {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 15px;
}

.blog__read-more__link {
  color: #666;
  line-height: 1;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.blog__read-more__link::after {
  content: "\f105";
  font-size: 18px;
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
  top:-10%;
  left: 100%;
  backface-visibility: hidden;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
}

@media (max-width: 1366px) {
.container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .top-line, .search-wrapper, .icons-wrapper, .nav-wrapper {
    display: none;
  }

  .middle-line {
    justify-content: space-between;
  }

  .mobile-menu-icon, .mobile-cart-icon {
    display: block;
  }

  .accessories-container {
    grid-template: 1fr/ repeat(2, 1fr);
  }

  .accessories-container>div:nth-of-type(n+4) {
    border-top: none;
    padding-top: 10px;
  }

  .accessory-wrapper {
    border-top: none;
    padding: 10px 10px 10px 0;
  }

    /* Menu styles */
  .menu {
    padding: 0 15px;
  }

  .menu__item {
    flex-basis: 30%;
  }

  .menu__item__title {
    font-size: 22px;
  }

  .menu__item__subtitle {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .accessories-container {
    grid-template: 1fr/ 1fr;
  }
}

@media (max-width: 576px) {
  /* Menu styles */
  .menu {
    flex-direction: column;
  }
}

/* Product list styles */
.product-list__subtitle {
  color: #2c2a2b;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
}

.product-list__title {
  margin: 0;
  margin-bottom: 5px; 
  color: #979797;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.products__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23%;
  background: white;
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
}

.product__title {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: #010101;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.product__price {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 800;
  color: #000;
}

.sale__badge {
  position: absolute;
  left: 22px;
  top: -12px;
  right: auto;
  z-index: 9;
  border-radius: 0;
  padding: 6px;
  min-height: 0;
  min-width: 0;
  background-color: #df3550;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  -webkit-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -moz-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -ms-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -o-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-border-radius: 0;
}

.sale__badge::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -14px;
  border: solid 13px transparent;
  border-left-color: #DF3550;
  color: #DF3550;
  -webkit-transform: rotate(90deg) translateZ(0);
  -moz-transform: rotate(90deg) translateZ(0);
  -ms-transform: rotate(90deg) translateZ(0);
  -o-transform: rotate(90deg) translateZ(0);
  transform: rotate(90deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sale__badge::after {
  content: "";
  position: absolute;
  left: -14px;
  top: -2.5px;
  color: #DF3550;
  border: solid 13px transparent;
  border-left-color: #DF3550;
  -webkit-transform: rotate(-90deg) translateZ(0);
  -moz-transform: rotate(-90deg) translateZ(0);
  -ms-transform: rotate(-90deg) translateZ(0);
  -o-transform: rotate(-90deg) translateZ(0);
  transform: rotate(-90deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (max-width: 992px) {
  .product__wrapper {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .product__wrapper {
    width: 48%;
  }
}

@media screen and (max-width: 576px){
  .product__wrapper {
    width: 100%;
  }
}
