body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

.content__wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 30px;
  background-color: #283241;
  font-size: 0.8rem;
  color: white;
}

.social-networks-icons:hover {
  cursor: pointer;
}

.middle-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.logo {
  width: 150px;
}

.search-input {
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #DF3550;
  border: none;
}

.search-btn:hover {
  cursor: pointer;
}

.search-icon {
  width: 25px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 35px;
}

.icons-btn {
  border: none;
  background-color: white;
}

.icons-btn:hover {
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 220px;
  color: white;
  background-color: #DF3550;
}

.menu-icon {
  width: 30px;
  margin-right: 5px;
}

.menu-icon:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #DF3550;
  text-decoration: underline;
  cursor: pointer;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.cart-wrapper > div {
  width: 65px;
}

.cart-icon {
  margin: 0 10px;
}

.cart-icon:hover {
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 2rem 0 2rem;
  background-color: #F6F6F6;
}

.footer-col-1 {
  flex: 1;
  margin-right: 10px;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
}

.payment-systems {
  min-width: 300px;
  max-width: 450px;
}

.footer-list {
  list-style: none;
}

.footer-text {
  font-size: 0.9rem;
  text-align: justify;
  color: grey;
  line-height: 1.5rem;
}

.footer-list-title {
  margin-top: 0;
}

.footer-list-item {
  margin: 10px 0;
  font-size: 0.9rem;
  color: grey;
}

.footer-list-item:hover {
  color: #DF3550;
}

.small-text {
  font-size: 0.8rem;
}

.mobile-menu-icon, .mobile-cart-icon {
  display: none;
}

/* Advert styles */ 
.advert {
  height: 400px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: poppins;
  line-height: 1.5;
}

.advert-content {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
  font-family: poppins;
  line-height: 1.5;
  text-align: center;
  z-index: 10;
}

.advert-text {
  font-size: 20px;
}

.advert-heading {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.advert-price {
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 990px) {
  .top-line, .search-wrapper, .icons-wrapper, .nav-wrapper {
    display: none;
  }

  .middle-line {
    justify-content: space-between;
  }

  .mobile-menu-icon, .mobile-cart-icon {
    display: block;
  }
}


/* Product list styles */
.product-list__subtitle {
  color: #2c2a2b;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
}

.product-list__title {
  margin: 0;
  margin-bottom: 5px; 
  color: #979797;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.products__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23%;
  background: white;
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
}

.product__title {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: #010101;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.product__price {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 800;
  color: #000;
}

.sale__badge {
  position: absolute;
  left: 22px;
  top: -12px;
  right: auto;
  z-index: 9;
  border-radius: 0;
  padding: 6px;
  min-height: 0;
  min-width: 0;
  background-color: #df3550;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  -webkit-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -moz-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -ms-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -o-transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  transform: rotate(-90deg) translate3d(-100%,0,0) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-border-radius: 0;
}

.sale__badge::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -14px;
  border: solid 13px transparent;
  border-left-color: #DF3550;
  color: #DF3550;
  -webkit-transform: rotate(90deg) translateZ(0);
  -moz-transform: rotate(90deg) translateZ(0);
  -ms-transform: rotate(90deg) translateZ(0);
  -o-transform: rotate(90deg) translateZ(0);
  transform: rotate(90deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sale__badge::after {
  content: "";
  position: absolute;
  left: -14px;
  top: -2.5px;
  color: #DF3550;
  border: solid 13px transparent;
  border-left-color: #DF3550;
  -webkit-transform: rotate(-90deg) translateZ(0);
  -moz-transform: rotate(-90deg) translateZ(0);
  -ms-transform: rotate(-90deg) translateZ(0);
  -o-transform: rotate(-90deg) translateZ(0);
  transform: rotate(-90deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (max-width: 992px) {
  .product__wrapper {
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  .product__wrapper {
    width: 48%;
  }
}

@media screen and (max-width: 576px){
  .product__wrapper {
    width: 100%;
  }
}
