body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 30px;
  background-color: #283241;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  color: white;
}

.social-networks-icons:hover {
  cursor: pointer;
}

.middle-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  width: 150px;
}

.search-input {
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #DF3550;
  border: none;
}

.search-btn:hover {
  cursor: pointer;
}

.search-icon {
  width: 25px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 35px;
}

.icons-btn {
  border: none;
  background-color: white;
}

.icons-btn:hover {
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 220px;
  color: white;
  background-color: #DF3550;
  font-family: 'Ubuntu', sans-serif;
}

.menu-icon {
  width: 30px;
  margin-right: 5px;
}

.menu-icon:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  text-transform: uppercase;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #DF3550;
  text-decoration: underline;
  cursor: pointer;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.cart-wrapper > div {
  width: 65px;
}

.cart-icon {
  margin: 0 10px;
}

.cart-icon:hover {
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 2rem 0 2rem;
  background-color: #F6F6F6;
  font-family: 'Ubuntu', sans-serif;
}

.footer-col-1 {
  flex: 1;
  margin-right: 10px;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
}

.payment-systems {
  min-width: 300px;
  max-width: 450px;
}

.footer-list {
  list-style: none;
}

.footer-text {
  font-size: 0.9rem;
  text-align: justify;
  color: grey;
  line-height: 1.5rem;
}

.footer-list-title {
  margin-top: 0;
}

.footer-list-item {
  margin: 10px 0;
  font-size: 0.9rem;
  color: grey;
}

.footer-list-item:hover {
  color: #DF3550;
}

.small-text {
  font-size: 0.8rem;
}

.mobile-menu-icon, .mobile-cart-icon {
  display: none;
}

/* Bannerlist styles */
.banner-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  color: white;
  overflow: hidden; 
}

.banner-list-item, .banner-list-item-big {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-list-item-content {
  margin-right: 0 20px;
}

.banner-list-item-big, .banner-list-item-wrapper {
  flex: 1;
  height: 600px;
  min-width: 400px;
}

.banner-list-item-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-list-item {
  align-items: flex-end;
  padding-right: 2rem;
}

.banner-list-btn-red {
  color: #fff;
  text-decoration: none;
  background-color: #DF3550;
  font-family: poppins;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.banner-list-btn-red:hover {
  color: #DF3550;
  background-color: #fff;
}

.banner-list-btn-transparent {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-family: poppins;
  position: relative;
  color: #fff;
  display: block;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
}

.banner-list-btn-transparent:hover {
  color: #DF3550;
}

.banner-list-link {
  text-decoration: none;
}

.banner-list-item-subtitle {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.banner-list-item-title {
  font-size: 44px;
  font-weight: 600;
  font-family: poppins;
  margin-bottom: 25px;
  line-height: 1;
  text-transform: capitalize;
}

/* Advert styles */ 
.advert {
  height: 400px;
  margin: 0px 4rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: poppins;
  line-height: 1.5;
}

.advert-content {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
  font-family: poppins;
  line-height: 1.5;
  text-align: center;
  z-index: 10;
}

.advert-text {
  font-size: 20px;
}

.advert-heading {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.advert-price {
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 990px) {
  .top-line, .search-wrapper, .icons-wrapper, .nav-wrapper {
    display: none;
  }

  .middle-line {
    justify-content: space-between;
  }

  .mobile-menu-icon, .mobile-cart-icon {
    display: block;
  }
}