<div class="promo content__wrapper" style="background-image: url({{this.advert.image}})">
  <div class="promo-content">
    <div class="promo-text">{{this.advert.subtitle}}</div>
    <div class="promo-heading">{{this.advert.title}}</div>
    <div class="promo-price">{{this.advert.price}}</div>
  </div>
</div>