<div class="promo content__wrapper" style="background-image: url({{data.sale.image}})">
  <div class="promo-content">
    <div class="promo-text">{{data.sale.subtitle}}</div>
    <div class="promo-heading">{{data.sale.title}}</div>
    <div class="promo-price">{{data.sale.price}}</div>
  </div>
</div>