<div class="advert" style="background-image: url({{{data.sale.image}}})">
  <div class="advert-content">
    <div class="advert-text">{{data.sale.subtitle}}</div>
    <div class="advert-heading">{{data.sale.title}}</div>
    <div class="advert-price">{{data.sale.price}}</div>
  </div>
</div>