<div class="footer__wrapper">
  <div class="content__wrapper footer-info__container">
    <div class="footer-col-1">
      <img src="assets/logo.png" alt="Main logo" class="logo" />
      <p class="footer-text">
        Zigcy Lite is a customizer based WooCommerce Theme built to create stunning e-commerce or online stores.This theme that comes up with deep WooCommerce integration introduces all the WooCommerce features in the most brilliant way possible.
      </p>
    </div>
    <div class="footer-nav">
      <ul class="footer-list">
        <h3 class="footer-list-title">MY ACCOUNT</h3>
        <li class="footer-list-item">My account</li>
        <li class="footer-list-item">Checkout</li>
        <li class="footer-list-item">Cart</li>
        <li class="footer-list-item">Shop</li>
      </ul>
      <ul class="footer-list">
          <h3 class="footer-list-title">EXTRA</h3>
          <li class="footer-list-item">About us</li>
          <li class="footer-list-item">Shipping Guide</li>
          <li class="footer-list-item">Delivery Information</li>
          <li class="footer-list-item">Privacy Policy</li>
      </ul>
      <ul class="footer-list">
        <h3 class="footer-list-title">INFORMATION</h3>
        <li class="footer-list-item">Home</li>
        <li class="footer-list-item">Blog</li>
        <li class="footer-list-item">Shopping Guide</li>
        <li class="footer-list-item">Contact Us</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom content__wrapper">
    <span class="small-text">© 2018 WordPress Theme : Zigcy Lite</span>
    <img src="assets/payment-systems.png" alt="Payment systems" class="payment-systems" />
  </div>
</div>