<div class="top-line__wrapper">
  <div class="top-line content__wrapper">
    <span>Get 50% Discount on all summer arrival</span>
    <img src="assets/social-networks.png" alt="social networks icons" class="social-networks-icons" />
  </div>
</div>
<div class="middle-line content__wrapper">
  <img src="assets/menu-black.png" alt="menu icon" class="mobile-menu-icon" />
  <img src="assets/logo.png" alt="Main logo" class="logo" />
  <img src="assets/cart-black.png" alt="cart icon" class="mobile-cart-icon" />
  <div class="search-wrapper">
    <input placeholder="Search Entire Store Here" class="search-input"/>
    <button class="search-btn">
      <img src="assets/search-icon.png" alt="search icon" class="search-icon" />
    </button>
  </div>
  <div class="icons-wrapper">
    <button class="icons-btn">
      <img src="assets/user.png" alt="user icon" class="header-icon" />
    </button>
    <button class="icons-btn">
      <img src="assets/heart.png" alt="heart icon" class="header-icon" />
    </button>
  </div>
</div>
<div class="nav-wrapper content__wrapper">
  <div class="menu-wrapper">
    <img src="assets/menu.png" alt="menu icon" class="menu-icon" />
    <span>Browse Categories</span>
  </div>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">My account</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
    </ul>
  </nav>
  <button class="cart-wrapper">
    <img src="assets/cart.png" alt="menu icon" class="cart-icon" />
    <div>
      <span class="underline">My Cart</span>
      <span>$0.00</span>
    </div>
  </button>
</div>