<section id="header"></section>
<section id="banner-list"></section>
<section id="menu"></section>
<section id="product-list"></section>
<section id="advert"></section>
<section id="accessories-list"></section>
<section id="blog"></section>
<section id="footer"></section>
