<div id="header"></div>
<div id="banner-list"></div>
<div id="menu"></div>
<div id="product-list"></div>
<div id="advert"></div>
<div id="accessories-list"></div>
<div id="blog"></div>
<div id="sponsorship"></div>
<div id="footer"></div>