<div class="promo content__wrapper" style="background-image: url({{this.promo.image}})">
  <div class="promo-content">
    <div class="promo-text">{{this.promo.subtitle}}</div>
    <div class="promo-heading">{{this.promo.title}}</div>
    <div class="promo-price">{{this.promo.price}}</div>
  </div>
</div>